/* Variables */

:root {
    --color-primario: #fcb03b;
    --color-secundario: #e92f3d;
    --color-secundario-opaco: #e92f3d30;
    --color-borde-gris: #dedede;
    --color-background: #eff6f5;
    --color-background-secundario: #333;
    --color-texto: #a1a5a6;
    --font-family: 'Open Sans'; 
}

/* Estilos Generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--color-background);
}

.titulos {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulo {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-primario);
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: var(--color-primario);
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--color-primario);
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: all .3s;
}

.btn span {
    padding-left: 10px;
}

.btn:hover {
    padding: 15px 45px;
}

/* ENCABEZADO */

.menu__principal {
    display: flex;
    width: 100%;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    z-index: 100;
}

.logo img {
    width: 130px;
    cursor: pointer;
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-bar .enlaces ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.menu-bar .enlaces ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-texto);
    background: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all .5s;
}

.menu-bar .enlaces ul li a:hover {
    color: var(--color-secundario);
    background-size: 50% 2px;
}

.menu-bar .sociales a {
    color: var(--color-texto);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    transition: all .5s;
}

.menu-bar .sociales a:hover {
    color: var(--color-secundario);
}

.menu__principal i {
    cursor: pointer;
    color: var(--color-texto);
    font-size: 30px;
    float: right;
    display: none;
    transition: all .5s;
}

.menu__principal i:hover {
    color: var(--color-secundario);
}

/* SLIDER DE PRODUCTOS */

#menuProductos .contenedor__principal {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.contenedor__principal #btnIzquierda,
.contenedor__principal #btnDerecha {
    position: absolute;
    height: 10%;
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 40px;
    margin: 0 15px;
    color: var(--color-secundario);
    z-index: 500;
    outline: none;
    transition: all .3s;
}

.contenedor__principal #btnIzquierda:hover,
.contenedor__principal #btnDerecha:hover {
    background-color: var(--color-secundario-opaco);
    transform: translateY(5px);
}

.contenedor__principal #btnIzquierda {
    left: 0;
}

.contenedor__principal #btnDerecha {
    right: 0;
}

.slider {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 80px);
    scroll-behavior: smooth;
}

.container__productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-shrink: 0;
}

.descripcion__productos {
    width: 30%;
}

.descripcion__productos h1 {
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
}

.descripcion__productos h2 {
    text-transform: lowercase;
    font-size: 2.2vw;
    font-weight: 100;
}

.descripcion__productos p {
    color: var(--color-texto);
    font-style: italic;
    text-align: justify;
}

.imagen__productos {
    width: 50%;
    display: flex;
    justify-content: center;
}

.imagen__productos img {
    width: 100%;
    transform: scale(1.1);
    transition: all .3s;
}

.container__productos:hover .imagen__productos img {
    transform: scale(1.15);
}


/* Seccion Servicios */

#servicios {
    height: 100vh;
    /* width: 100%; */
    background-color: #fff;
    padding: 40px;
}

.servicios__titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios__container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 30px;
    grid-template-areas: "ingredientes imagenCentral rapidez"
                         "calidad      imagenCentral delivery";
}

.imagen__central {
    grid-area: imagenCentral;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen__central:hover {
    transform: scale(1.04);
}

.calidad {
    grid-area: calidad;
}

.ingredientes { 
    grid-area: ingredientes;
}

.rapidez {
    grid-area: rapidez;
}

.delivery {
    grid-area: delivery;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items p span {
    width: 95px;
    font-size: 40px;
    color: var(--color-secundario);
    padding: 20px;
    border: 1px double var(--color-borde-gris);
    border-radius: 50%;
    text-align: center;
    transition: all .5s;
}

.items p span:hover {
    background-color: var(--color-secundario);
    color: #fff;
}

.ingredientes p span,
.calidad p span {
    color: var(--color-primario);
} 

.ingredientes p span:hover,
.calidad p span:hover {
    color: #fff;
    background-color: var(--color-primario);
} 

.items .titulo--item {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.items .texto--item {
    font-size: 14px;
    color: var(--color-texto);
    text-align: center;
    font-style: italic;
    padding: 0 20px;
}




/* Responsive Design - MEDIA QUERYS */

@media screen and (max-width: 850px) {

    /* Slider de productos */

    .container__productos {
        flex-direction: column;
    }

    .descripcion__productos {
        width: 70%;
        order: 1;
    }

    .descripcion__productos .btn {
        padding: 10px 20px;
    }

    .descripcion__productos .btn:hover {
        padding: 10px 30px;
    }

    /* Seccion Servicios */

    .servicios__container {
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "ingredientes  rapidez"
                             "calidad       delivery";
    }

    .imagen__central {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    
    /* Encabezado */

    .menu__principal {
        position: fixed;
        top: 0;
        margin-top: 0;
    }

    .menu__principal i {
        display: block;
    }

    .menu-bar {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background-color: var(--color-background-secundario);
        transition: all .7s;
        transform: translateX(100%);
    }

    .menu-bar.active {
        transform: translateX(0%);
    }

    .menu-bar i {
        position: absolute;
        right: 50px;
        top: 50px;
    }

    .menu-bar .enlaces ul li {
        display: block;
        padding: 20px 10px;
        text-align: center;
    }

    .menu-bar .enlaces ul li a,
    .menu-bar .sociales a {
        font-size: 20px;
    }

    /* Slider de productos */

    .slider {
        height: calc(100vh - 0);
    }

    .descripcion__productos h1 {
        font-size: 7vw;
    }

    .descripcion__productos h2 {
        font-size: 3vw;
    }

    .imagen__productos {
        width: 65%;
    }

}


